/*
 * SPDX-FileCopyrightText: 2023-2024 Andreas Palm
 *
 * SPDX-License-Identifier: LicenseRef-EGPL-3.1
 */

.vueAction {
    cursor: pointer;
}

.flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.basis-1\/2 {
    flex-basis: 50%;
}

.grid {
    display: grid;
}

.flex-align-center {
    align-items: center;
}

.justify-self-start {
    justify-self: start;
}

.gap-1 {
    gap: 0.25rem;
}
.gap-2 {
    gap: 0.5rem;
}
.gap-3 {
    gap: 0.75rem;
}

.grid label {
    padding-top: 5px;
}

a svg {
    cursor: pointer;
}